<header>
  <p class="header-title">Needle Noses <br class="hide-on-desk"/> &amp;<br class="hide-on-desk"/> Murder Mittens</p>
  <nav class="header-nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/lists">FAQs &amp; SNAQs</a>
  </nav>

  
</header>
