---
layout: base.njk
---

<article class="post">
  <h2 class="post-title">{{ title }}</h2>
  {% if image %}
  <div class="post-image-container">
    <img src="{{ image }}" alt="{{ title }}"/>
  </div>
  {% endif %}
  <div class="post-content">
    {{ content | safe }}
    {# <h3>Tags:</h3>
    <ul>
      {% for tag in tags %}
        {% if tag != "post" %}
          <li class="tag-pill"><span>{{tag}}</span></li>
        {% endif %}
      {% endfor %}
    </ul> #}
  </div>
  
</article>
