---
layout: base.njk
---

<article>
  <h1 class="article-title">{{ title }}</h1>
  {% if image %}
  <div class="image-container">
    <img src="{{ image }}" alt="{{ title }}"/>
  </div>
  {% endif %}
  <div class="article-content">
    {{ content | safe }}
  </div>
</article>
