:root {
  --serif: 'Alice', serif;
  --sans-serif: 'Lato', sans-serif;
  --title: 'Sacramento', 'Alice', cursive;

  --slate: #2b2539;
  --white: #ebe9e4;
  --umber: #655050;
  --coral: #efc8c8;
  --seafoam: #bed3cc;
  --lightchart: #eeefc8;

  --test-color1: chartreuse;
  --test-color2: rebeccapurple;
  --test-color3: orangered;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw; /* Add this */
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--slate);
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  position: relative;
  width: 100%;
}

.header-title {
  text-align: center;
  line-height: 1;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

nav {
  width: 100%;
  background-color: var(--umber);
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: var(--lightchart);
  font-family: var(--serif);
}
nav a:hover {
  color: var(--coral);
}

p {
  font-family: var(--sans-serif);
}

h2 {
  font-family: var(--serif);
}

.base-header,
.header-title {
  font-family: var(--title);
  color: var(--slate);
}

/* MAIN */

.base-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.base-main h2 {
  margin: 0.5rem 0;
}

.base-main p {
  margin: 0.25rem 0 0.5rem;
  line-height: 1.5;
}

.base-main a {
  font-weight: 600;
  color: var(--slate);
}

.main-feed-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}

footer {
  background: var(--slate);
  color: var(--white);
  padding: 1.5rem 1rem;
  text-align: center;
}

@media screen and (min-width: 375px) {
  nav ul {
    gap: 2rem;
  }
}

@media screen and (min-width: 430px) {
  .hide-on-desk {
    display: none;
  }
}

@media (min-width: 600px) {
  .main-feed-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  nav ul {
   justify-content: flex-end;
  }

}



@media (min-width: 900px) {
  .main-feed-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* IMAGES */
.image-container,
.main-page-image-container {
  width: 300px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.image-container img,
.main-page-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ARTICLE */
.article-title {
  font-family: var(--title);
}

.article-content img {
  max-width: 100%;
  height: auto;
}
