---
layout: base.njk
title: Foster Notes
---

<section class="feed-grid">
{% set reversedPosts = collections.post | reverse %}
{% for post in reversedPosts %}
  <article class="feed-card">
    <a href="{{ post.url }}">
    {% if post.data.image %}
      <div class="feed-card-image-container">
        <img src="{{ post.data.image }}" alt="{{ post.data.title }}" />
      </div>
    {% endif %}
    <div class="feed-text">
      <h2>{{ post.data.title }}</h2>
      <p class="feed-card-date">{{ post.data.date | postDate }}</p>
    </div></a>
  </article>
{% endfor %}
</section>